* {
    box-sizing: border-box;
}
.nav--header {
    list-style: none;
    display: flex;
    padding-left: 5px;
}
.nav--header li:not(:first-child) {
    margin-left: 0.5rem;
}

.nav--header li:not(:last-child) *::after {
    content: " / ";
}

.nav--header li:last-child * {
    font-weight: bold;
    color: #000;
}

.edit-avatar {
    width: 230px;
    height: 230px;
    display: block;
    object-fit: cover;
}

/*================ product ===============*/

.product {
    cursor: pointer;
    /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4); */
    padding: 0.5rem;
}

.product:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 5px 1px rgba(0, 123, 255, 0.4) !important;
}

.product * {
    user-select: none;
}

.product-name {
    font-size: 1.2rem;
}

.product-img {
    width: 100%;
    height: 200px;
}
.product-img img,
.list-image-product img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.container-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
    margin-top: 1.5rem;
}

.order-overall-item {
    padding: 2rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    color:white;
}

.order-overall-item:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 5px 1px rgba(0, 123, 255, 0.4) !important;
}
.order-overall-item.processing{
    background:#779634d1;
}

.order-overall-item.delivering{
    background:blue;
}

.order-overall-item.delivered{
    background:green;
}

.order-overall-item.cancel{
    background:black;
}

.list-image-product {
    height: 350px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
    margin-top: 1.5rem;
}
.list-image-product img {
    height: 200px;
}
